<header class="header">
  <div id="mobileHeader" class="mobile__header">
    <div id="mobileNavTrigger" class="mobile__header__menu">MENU</div>
    <h1 class="header__logo">{{@blog.title}}</h1>
  </div>
  <div id="headerWrapper" class="header__wrapper">
    <div id="closeTrigger" class="mobile__header__close">CLOSE</div>
    <nav class="header__nav">
      <a href="#">Case Study</a><!--
      --><a href="#">Culture</a><!--
      --><a href="#">Design</a><!--
      --><a href="#">Development</a>
    </nav>
    <h1 class="header__logo">{{@blog.title}}</h1>
    <div class="header__cta__container">
      <div class="header__cta button button--nav">Contact Us</div>
    </div>
  </div>
</header>
