<header class="header">
  <div id="mobileNavTrigger" class="mobile-nav__trigger">MENU</div>
  <nav class="mobile-nav__menu header__nav">
    <a href="#">Design</a><!--
    --><a href="#">Development</a><!--
    --><a href="#">Case Study</a><!--
    --><a href="#">Culture</a>
  </nav>
  <h1 class="header__logo"><a href="/">{{@blog.title}}</a></h1>
  <div class="mobile-nav__cta__container header__cta">
    <div class="mobile-nav__cta button button--nav">Contact Us</div>
  </div>
</header>

<div id="mobileNav" class="mobile-nav">
  <div class="mobile-nav__wrapper">
    <nav class="mobile-nav__menu">
      <a href="#">Design</a><!--
      --><a href="#">Development</a><!--
      --><a href="#">Case Study</a><!--
      --><a href="#">Culture</a>
    </nav>
    <div class="mobile-nav__cta__container">
      <div class="mobile-nav__cta button button--nav">Contact Us</div>
    </div>
  </div>
</div>
