/* =============================
   FONT STACK
   ============================= */
/* =============================
   COLORS
   ============================= */
body {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.6;
  margin: 0;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 6.4em;
  font-weight: 700;
  margin: 0;
  margin-bottom: 21px;
  line-height: 1; }

h2 {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.6em;
  font-weight: 500;
  margin: 0;
  margin-bottom: 22px;
  margin-top: -2px;
  letter-spacing: 0.06em;
  line-height: 1.4; }

h3 {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  margin-bottom: 25px;
  padding-top: 1px; }

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.14s ease-in-out; }
  a:hover {
    border-color: #666666; }

p a {
  border-bottom: 2px solid #DDDDDD; }

.lead {
  font-weight: 600; }

p {
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  margin-bottom: 24px;
  line-height: 1.7;
  font-size: 1.4em; }

*, *::before, *::after {
  box-sizing: border-box; }

.site-wrapper {
  margin-top: 60px; }
  @media (min-width: 1024px) {
    .site-wrapper {
      margin-top: 105px; } }

.main-content {
  padding: 0 16px 16px; }
  @media (min-width: 1024px) {
    .main-content {
      padding: 0 32px 32px; } }
  @media (min-width: 1200px) {
    .main-content {
      padding: 0 64px 64px;
      max-width: 1400px;
      margin: 0 auto; } }

/* =============================
   PAGINATION FOR HOMEPAGE AND TAG PAGE
   ============================= */
.pagination-wrapper {
  text-align: center;
  margin-top: 24px;
  width: 100%; }

.pagination {
  display: inline-block;
  font-size: 14px;
  margin: 0 auto;
  font-weight: 500; }

/* =============================
   BLOG LIST FOR HOMEPAGE & TAGEPAGE
   ============================= */
.blog-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.blog-list__item {
  background-color: #ECECEE;
  border-radius: 4px;
  box-shadow: 0px 14px 60px #ECECEE;
  margin-bottom: 16px;
  min-height: 240px;
  padding: 24px;
  position: relative;
  width: 100%; }
  @media (min-width: 800px) {
    .blog-list__item {
      width: 49%;
      margin-bottom: 18px; } }
  @media (min-width: 1024px) {
    .blog-list__item {
      width: 49%;
      margin-bottom: 24px; } }

.blog-list__item__meta {
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.04em; }

.blog-list__item__title {
  font-weight: 500;
  font-size: 2.4em;
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
  margin: 0; }

/* =============================
   BUTTONS
   ============================= */
.button {
  background: #C7C7C7;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  color: #0d0d0d;
  text-transform: uppercase;
  padding: 12px 28px;
  border-radius: 4px;
  margin: 24px;
  transition: all 0.14s ease-in-out;
  letter-spacing: 0.06em; }
  .button:hover {
    opacity: 0.8; }
  .button--nav {
    background: #FFFFFF;
    border: 2px solid #0d0d0d;
    padding: 6px 12px; }
    .button--nav:hover {
      opacity: 0.64; }
  .button--shadow {
    background: #FFFFFF;
    box-shadow: 0px 14px 60px #ECECEE; }
  .button--shadow:hover {
    box-shadow: 0px 14px 60px #DDDDDD;
    opacity: 1; }
  .button--underline {
    background: transparent;
    padding: 12px 0;
    border: none;
    border-bottom: 2px solid #0d0d0d;
    border-radius: 0; }
  .button--underline:hover {
    opacity: 0.8; }

/* =============================
   PAGE HEADER
   ============================= */
.page-header {
  padding: 24px 16px 48px;
  text-align: center;
  text-transform: capitalize; }
  @media (min-width: 1024px) {
    .page-header {
      padding: 48px 32px;
      margin-bottom: 38px; } }
  @media (min-width: 1200px) {
    .page-header {
      padding: 48px 64px;
      margin-bottom: 38px; } }

.page-header__title {
  font-size: 3.2em;
  line-height: 1.4;
  margin-bottom: 12px; }
  @media (min-width: 1024px) {
    .page-header__title {
      font-size: 6.4em;
      margin-bottom: 24px;
      line-height: 1.2; } }

.page-header__desc {
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.6;
  color: #666666;
  margin: 0;
  max-width: 800px;
  margin: 0 auto; }
  @media (min-width: 1024px) {
    .page-header__desc {
      font-size: 1.6em; } }

.page-header__meta {
  font-size: 1.2em;
  font-weight: 600;
  color: #666666;
  margin: 0; }
  @media (min-width: 1024px) {
    .page-header__meta {
      font-size: 1.6em; } }

.post-content {
  max-width: 680px;
  margin: 0 auto; }

.post-content p:first-child {
  font-weight: 600;
  font-size: 1.6em; }

.post-footer {
  margin: 0 auto;
  max-width: 680px; }

/* =============================
   SHARE SECTION WITH ICONS
   ============================= */
.post-share {
  margin: 48px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-direction: column;
      flex-direction: column; }
  @media (min-width: 600px) {
    .post-share {
      -ms-flex-direction: row;
          flex-direction: row; } }

.icon {
  padding: 8px 12px;
  background-color: #fbfbfb;
  border-radius: 4px;
  text-align: center;
  font-size: 1.4em;
  font-weight: 500;
  -ms-flex: 1;
      flex: 1;
  margin-bottom: 12px;
  color: #FFFFFF; }
  @media (min-width: 600px) {
    .icon {
      margin-right: 12px;
      margin-bottom: 0; } }

.icon:last-child {
  margin-right: 0; }

.icon-twitter {
  background-color: #1da1f2; }
  .icon-twitter:hover {
    background-color: #1998e6; }

.icon-facebook {
  background-color: #3b5998; }
  .icon-facebook:hover {
    background-color: #375390; }

.icon-google-plus {
  background-color: #dd4b39; }
  .icon-google-plus:hover {
    background-color: #d04332; }

/* =============================
   AUTHOR SECTION ON POSTS
   ============================= */
.author {
  margin-bottom: 24px;
  padding: 24px;
  background-color: #F9F9FB;
  border-radius: 4px; }

.author__image {
  border-radius: 100%;
  background-color: #C7C7C7;
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 12px;
  background-size: cover;
  background-repeat: no-repeat; }
  @media (min-width: 600px) {
    .author__image {
      float: left;
      margin: 0; } }

@media (min-width: 600px) {
  .author__content {
    margin-left: 144px; } }

.author__name {
  font-size: 2.4em;
  text-align: center;
  font-weight: 600;
  text-transform: capitalize; }
  @media (min-width: 600px) {
    .author__name {
      text-align: left; } }

.author__desc {
  text-align: center;
  margin-top: 12px; }
  @media (min-width: 600px) {
    .author__desc {
      text-align: left; } }

.author__meta {
  text-align: center; }
  @media (min-width: 600px) {
    .author__meta {
      text-align: left; } }

.author__meta-link {
  font-weight: 500;
  font-size: 1.2em;
  margin-right: 24px;
  border-bottom: 2px solid #ECECEE;
  transition: border-bottom 0.14s ease-in-out; }
  .author__meta-link:hover {
    border-color: #DDDDDD; }

.author__meta-link:last-child {
  margin-right: 0; }

/* =============================
   RECOMMENDATIONS SECTION
   ============================= */
.recommendations {
  margin: 48px 0 24px 0; }

.recommendations-title {
  text-align: center;
  margin: 24px 0;
  font-size: 2em;
  font-weight: 600; }

.recommendations__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-direction: column;
      flex-direction: column; }
  @media (min-width: 600px) {
    .recommendations__wrapper {
      -ms-flex-direction: row;
          flex-direction: row; } }

.recommendations__post {
  width: 100%;
  background-color: #ECECEE;
  padding: 24px;
  border-radius: 4px;
  box-shadow: 0px 14px 60px #ECECEE;
  margin-bottom: 24px; }
  @media (min-width: 600px) {
    .recommendations__post {
      width: 48%;
      margin-bottom: 0; } }

.recommendations__post-title {
  font-size: 1.8em; }
  @media (min-width: 600px) {
    .recommendations__post-title {
      font-size: 2.2em; } }

.page-header .author__meta {
  text-align: center;
  margin: 24px 0; }

.case-study__container {
  padding-top: 48px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row; }

.tag-case-study hr {
  margin: 24px 0;
  height: 2px;
  border-style: solid;
  color: #ddd; }

.case-study__content {
  margin: 0 auto;
  max-width: 680px;
  -ms-flex-order: 2;
      order: 2; }
  @media (min-width: 1159px) {
    .case-study__content {
      margin: 0; } }

.case-study__header__title {
  font-weight: 700;
  line-height: 1.4em;
  font-size: 3.4em;
  margin-bottom: 8px; }

.case-study__header__meta {
  font-size: 1.2em;
  font-weight: 600;
  color: #666666;
  margin: 0; }

/* =============================
   CASE STUDY SIDEBAR
   ============================= */
.case-study__sidebar {
  display: none; }
  @media (min-width: 1159px) {
    .case-study__sidebar {
      display: block;
      width: 200px;
      -ms-flex-order: 1;
          order: 1;
      margin-right: 24px;
      padding: 16px; } }

.case-study__sidebar__image {
  width: 100%;
  height: 140px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.case-study__nav {
  margin: 24px 0;
  padding: 0;
  list-style: none; }

.case-study__nav__link {
  font-size: 1.4em;
  font-weight: 500;
  padding: 6px 0; }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 16px;
  z-index: 10;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  background: rgba(255, 255, 255, 0.96); }
  @media (min-width: 1024px) {
    .header {
      padding: 0 32px; } }
  @media (min-width: 1200px) {
    .header {
      padding: 0 64px; } }

.mobile-nav__trigger {
  font-weight: 600;
  font-size: 1.2em;
  cursor: pointer;
  min-width: 40px; }
  @media (min-width: 1024px) {
    .mobile-nav__trigger {
      display: none; } }

.mobile-nav {
  text-align: center;
  position: fixed;
  z-index: 8;
  background: white;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 16px;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-18px);
  transition: transform 0.7s cubic-bezier(0, 0.33, 0.2, 1), opacity 0.5s cubic-bezier(0.33, 0, 0.2, 1), visibility 0.5s cubic-bezier(0.33, 0, 0.2, 1); }
  .mobile-nav.showtime {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible; }
  @media (min-width: 1024px) {
    .mobile-nav {
      display: none; } }

.mobile-nav__wrapper {
  width: 100%; }

.header__logo {
  -ms-flex: none;
      flex: none;
  -ms-flex-order: 1;
      order: 1;
  width: 100%;
  font-size: 2.8em;
  text-align: center;
  margin: 0;
  margin-left: -40px;
  pointer-events: none; }
  .header__logo a {
    pointer-events: all; }
  @media (min-width: 1024px) {
    .header__logo {
      pointer-events: visible;
      -ms-flex-order: 2;
          order: 2;
      -ms-flex: 1;
          flex: 1;
      margin: 0; } }

.mobile-nav__menu {
  display: block;
  min-width: 100%;
  -ms-flex-order: 1;
      order: 1; }
  @media (min-width: 1024px) {
    .mobile-nav__menu {
      -ms-flex-order: 1;
          order: 1;
      min-width: 400px; } }
  .mobile-nav__menu a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-size: 1.2em;
    padding: 8px 0;
    display: block;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.1em;
    border: none; }
    @media (min-width: 1024px) {
      .mobile-nav__menu a {
        padding: 43px 14px;
        display: inline-block; } }
  .mobile-nav__menu a:hover {
    opacity: 0.64; }
  .mobile-nav__menu a:first-child {
    padding-left: 0; }
  .mobile-nav__menu a:last-child {
    padding-right: 0; }

.mobile-nav__cta__container {
  min-width: 100%;
  text-align: center;
  margin-top: 48px;
  -ms-flex-order: 3;
      order: 3; }
  @media (min-width: 1024px) {
    .mobile-nav__cta__container {
      margin-top: 0;
      min-width: 400px; } }

.mobile-nav__cta {
  float: none;
  margin: 0; }
  @media (min-width: 1024px) {
    .mobile-nav__cta {
      float: right; } }

/* =============================
   CONTROL HEADER FOR DESKTOP
   ============================= */
.header__nav {
  display: none; }
  @media (min-width: 1024px) {
    .header__nav {
      display: block; } }

.header__cta {
  display: none; }
  @media (min-width: 1024px) {
    .header__cta {
      display: block; } }
