.case-study__container {
  padding-top: 48px;
  display: flex;
  flex-direction: row;
}


.tag-case-study hr {
  margin: 24px 0;
  height: 2px;
  border-style: solid;
  color: #ddd;
}

.case-study__content {
  margin: 0 auto;
  max-width: 680px;
  order: 2;

  @media (min-width: 1159px) {
    margin: 0;
  }
}

.case-study__header__title {
  font-weight: 700;
  line-height: 1.4em;
  font-size: 3.4em;
  margin-bottom: 8px;
}

.case-study__header__meta {
  font-size: 1.2em;
  font-weight: 600;
  color: $gray-space;
  margin: 0;
}


/* CASE STUDY SIDEBAR */

.case-study__sidebar {
  display: none;

  @media (min-width: 1159px) {
    display: block;
    width: 200px;
    order: 1;
    margin-right: 24px;
    padding: 16px;
  }
}

.case-study__sidebar__image {
  width: 100%;
  height: 140px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.case-study__nav {
  margin: 24px 0;
  padding: 0;
  list-style: none;
}

.case-study__nav__link {
  font-size: 1.4em;
  font-weight: 500;
  padding: 6px 0;
}
