*, *::before, *::after {
  box-sizing: border-box;
}

.site-wrapper {
  margin-top: 60px;

  @media (min-width: 1024px) {
    margin-top: 105px;
  }
}

.main-content {
  padding: 0 16px 16px;

  @media (min-width: 1024px) {
    padding: 0 32px 32px;
  }

  @media (min-width: 1200px) {
    padding: 0 64px 64px;
    max-width: 1400px;
    margin: 0 auto;
  }
}

.pagination-wrapper {
  text-align: center;
  margin-top: 24px;
  width: 100%;
}

.pagination {
  display: inline-block;
  font-size: 14px;
  margin: 0 auto;
  font-weight: 500;
}

/* BLOG LIST (HOMEPAGE, TAG PAGE)*/

.blog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog-list__item {
  background-color: $gray;
  border-radius: 4px;
  box-shadow: 0px 14px 60px $gray;
  margin-bottom: 4%;
  min-height: 240px;
  padding: 24px;
  position: relative;
  width: 100%;

  @media (min-width: 800px) {
    width: 49%;
    margin-bottom: 2%;
  }
}

.blog-list__item__meta {
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.blog-list__item__title {
  font-weight: 500;
  font-size: 2.4em;
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
  margin: 0;
}

.blog-list__item__date {

}

.button {
    background: $gray-galaxy;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    color: $black;
    text-transform: uppercase;
    padding: 12px 28px;
    border-radius: 4px;
    margin: 24px;
    transition: all 0.14s ease-in-out;
    letter-spacing: 0.06em;

    &:hover {
      opacity: 0.8;
    }

    &--nav {
      background: $white;
      border: 2px solid $black;
      padding: 6px 12px;

      &:hover {
        opacity: 0.64;
      }
    }

    &--shadow {
      background: $white;
      box-shadow: 0px 14px 60px $gray;
    }

    &--shadow:hover {
      box-shadow: 0px 14px 60px $gray-medium;
      opacity: 1;
    }

    &--underline {
      background: transparent;
      padding: 12px 0;
      border: none;
      border-bottom: 2px solid $black;
      border-radius: 0;
    }

    &--underline:hover {
      opacity: 0.8;
    }
}


/* PAGE HEADER */

.page-header {
  padding: 24px 16px 48px;
  text-align: center;
  text-transform: capitalize;

  @media (min-width: 1024px) {
    padding: 48px 32px;
    margin-bottom: 38px;
  }

  @media (min-width: 1200px) {
    padding: 48px 64px;
    margin-bottom: 38px;
  }
}

.page-header__title {
  font-size: 3.2em;
  line-height: 1.4;
  margin-bottom: 12px;

  @media (min-width: 1024px) {
    font-size: 6.4em;
    margin-bottom: 24px;
    line-height: 1.2;
  }
}

.page-header__desc {
  font-size: 1.2em;
  font-weight: 600;
  color: $gray-space;
  margin: 0;

  @media (min-width: 1024px) {
    font-size: 1.6em;
  }
}

.page-header__meta {
  font-size: 1.2em;
  font-weight: 600;
  color: $gray-space;
  margin: 0;

  @media (min-width: 1024px) {
    font-size: 1.6em;
  }
}

.post-content {
  max-width: 680px;
  margin: 0 auto;
}

.post-content p:first-child {
  font-weight: 600;
  font-size: 1.6em;
}
