/* CSS DIRECTORY

	1. GENERAL
	2. PAGINATION FOR HOMEPAGE AND TAG PAGE
	3. POST LAYOUT & TAG LAYOUT
	4. BLOG LIST FOR HOMEPAGE & TAG PAGE
	5. BUTTONS
  6. SHARE SECTION ON POSTS
  7. AUTHOR SECTION ON POSTS
  8. RECOMMENDATIONS SECTION ON POSTS

***************************************************/



/* GENERAL
***************************************************/

*, *::before, *::after {
  box-sizing: border-box;
}

.site-wrapper {
  margin-top: 60px;

  @media (min-width: 1024px) {
    margin-top: 105px;
  }
}

.main-content {
  padding: 0 16px 16px;

  @media (min-width: 1024px) {
    padding: 0 32px 32px;
  }

  @media (min-width: 1200px) {
    padding: 0 64px 64px;
    margin: 0 auto;
  }
}




/* PAGINATION FOR HOMEPAGE AND TAG PAGE
***************************************************/

.pagination-wrapper {
  text-align: center;
  margin-top: 24px;
  width: 100%;
}

.pagination {
  display: inline-block;
  font-size: 14px;
  margin: 0 auto;
  font-weight: 500;
  border: 2px solid $black;
  padding: 5px 0;
  border-radius: 4px;
  background-color: $white;
}

.page-number {
  padding: 6px 12px;
}

.newer-posts {
  padding: 6px 12px;
  border-right: 2px solid black;

  &:hover {
    background-color: $gray;
    border-color: $black;
  }
}

.older-posts {
  padding: 6px 12px;
  border-left: 2px solid black;

  &:hover {
    background-color: $gray;
    border-color: $black;
  }
}






 /* POST LAYOUT & TAG LAYOUT
 ***************************************************/

.post-content {
  max-width: 680px;
  margin: 0 auto;
}

.post-content p:first-child {
  font-weight: 600;
  font-size: 1.6em;
}

.post-footer {
  margin: 0 auto;
  max-width: 680px;
}

.post-header {
  position: relative;
  padding: 8vh 16px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 28px;

  @media (min-width: 1024px) {
    padding: 12vh 48px;
  }
}

.post-header--image {
  margin-bottom: 60px;
}

.post-header__title {
  font-size: 3.2em;
  line-height: 1.2;
  margin-bottom: 12px;

  @media (min-width: 600px) {
    font-size: 3.8em;
  }

  @media (min-width: 1024px) {
    font-size: 6.4em;
    line-height: 1.2;
    max-width: 1400px;
    margin: 0 auto 24px;
  }
}

.post-header__title--white {
  color: $white;
}

.post-header__desc {
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.6;
  color: $gray-space;
  margin: 0;
  max-width: 800px;
  margin: 0 auto;

  @media (min-width: 1024px) {
    font-size: 1.6em;
  }
}

.post-header__meta {
  font-size: 1.2em;
  font-weight: 600;
  color: $gray-space;
  margin: 0;

  @media (min-width: 1024px) {
    font-size: 1.6em;
  }
}

.post-header__meta--white {
  color: $gray-soft;
}

.post-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 4px;
}

.scrim {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.36);
  z-index: -1;
  border-radius: 4px;
}




/* BLOG LIST FOR HOMEPAGE & TAG PAGE
***************************************************/


.blog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog-list__item {
  background-color: $gray;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.17);
  margin-bottom: 16px;
  min-height: 240px;
  padding: 24px;
  position: relative;
  width: 100%;
  transition: box-shadow ease-in-out 0.14s;

  &:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.28);
  }

  @media (min-width: 800px) {
    width: 49%;
    margin-bottom: 18px;
  }

  @media (min-width: 1024px) {
    width: 49%;
    margin-bottom: 24px;
  }
}

.blog-list__item__meta {
  position: relative;
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  &--white {
    color: $white;
  }
}

.blog-list__item__title {
  font-weight: 500;
  font-size: 2.4em;
  position: absolute;
  bottom: 24px;
  left: 24px;
  right: 24px;
  margin: 0;
  text-transform: capitalize;

  &--white {
    color: $white;
  }
}

.blog-list__anchor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.blog-list__item__image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 4px;
}

.blog-list__item__scrim {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.64);
  border-radius: 4px;
}




/* BUTTONS
***************************************************/

.button {
  background: $gray-galaxy;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
  color: $black;
  text-transform: uppercase;
  padding: 12px 28px;
  border-radius: 4px;
  margin: 24px;
  transition: all 0.14s ease-in-out;
  letter-spacing: 0.06em;

  &:hover {
    opacity: 0.8;
  }

  &--nav {
    background: $white;
    border: 2px solid $black;
    padding: 6px 12px;

    &:hover {
      background-color: $gray;
    }
  }

  &--shadow {
    background: $white;
    box-shadow: 0px 14px 60px $gray;
  }

  &--shadow:hover {
    box-shadow: 0px 14px 60px $gray-medium;
    opacity: 1;
  }

  &--underline {
    background: transparent;
    padding: 12px 0;
    border: none;
    border-bottom: 2px solid $black;
    border-radius: 0;
  }

  &--underline:hover {
    opacity: 0.8;
  }
}




/* SHARE SECTION ON POSTS
***************************************************/

.post-share {
  margin: 48px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: 600px) {
    flex-direction: row;
  }
}

.icon {
  padding: 8px 12px;
  background-color: #fbfbfb;
  border-radius: 4px;
  text-align: center;
  font-size: 1.4em;
  font-weight: 500;
  flex: 1;
  margin-bottom: 12px;
  color: $white;

  @media (min-width: 600px) {
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.icon:last-child {
  margin-right: 0;
}

.icon-twitter {
  background-color: #1da1f2;

  &:hover {
    background-color: #1998e6;
  }
}

.icon-facebook {
  background-color: #3b5998;

  &:hover {
    background-color: #375390;;
  }
}

.icon-google-plus {
  background-color: #dd4b39;

  &:hover {
    background-color: #d04332;;
  }
}




/* AUTHOR SECTION ON POSTS
***************************************************/

.author-template .author__meta {
  text-align: center;
  margin-top: 32px;
}

.author {
  margin-bottom: 24px;
  padding: 24px;
  background-color: $gray-soft;
  border-radius:  4px;
}

.author__image {
  border-radius: 100%;
  background-color: $gray-galaxy;
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 12px;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: 600px) {
    float: left;
    margin: 0;
  }
}

.author__content {
  @media (min-width: 600px) {
    margin-left: 144px;
  }
}

.author__name {
  font-size: 2.4em;
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;

  @media (min-width: 600px) {
    text-align: left;
  }
}

.author__desc {
  text-align: center;
  margin-top: 12px;

  @media (min-width: 600px) {
    text-align: left;
  }
}

.author__meta {
  text-align: center;

  @media (min-width: 600px) {
    text-align: left;
  }
}

.author__meta__link {
  font-weight: 500;
  font-size: 1.2em;
  margin-right: 24px;
  border-bottom: 2px solid $gray;
  transition: border-bottom 0.14s ease-in-out;

  &:hover {
    border-color: $gray-medium;
  }
}

.author__meta-link:last-child {
  margin-right: 0;
}




/* RECOMMENDATIONS SECTION ON POSTS
***************************************************/

.recommendations {
  margin: 48px 0 24px 0;
}

.recommendations-title {
  text-align: center;
  margin: 24px 0;
  font-size: 2em;
  font-weight: 600;
}

.recommendations__wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  @media (min-width: 600px) {
    flex-direction: row;
  }
}

.recommendations__post {
  width: 100%;
  background-color: $gray;
  padding: 24px;
  border-radius: 4px;
  box-shadow: 0px 14px 60px $gray;
  margin-bottom: 24px;

  @media (min-width: 600px) {
    width: 48%;
    margin-bottom: 0;
  }

  &:hover {
    background-color: $gray-medium;
  }
}

.recommendations__post-title {
  font-size: 1.8em;

  @media (min-width: 600px) {
    font-size: 2.2em
  }
}

.page-header .author__meta {
  text-align: center;
  margin: 24px 0;
}
