/* =============================
   FONT STACK
   ============================= */
$font-url--google       : 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700';
$font-family--primary   : 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--secondary : 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* =============================
   COLORS
   ============================= */
$black        :   #0d0d0d;
$gray-space   :   #666666;
$gray-galaxy  :   #C7C7C7;
$gray-medium  :   #DDDDDD;
$gray         :   #ECECEE;
$gray-soft    :   #F9F9FB;
$gray-light   :   #FBFBFB;
$white        :   #FFFFFF;
